html, body {
    margin: 0;
    padding: 0;
}

.app-header {
    display: flex;
    justify-content: space-between;
}

.container {
    border: 2px dotted;
    width: 380px;
    margin: 0 auto;
}

.app-logo {
    width: 70px;
    height: 40px;
}


.user-avatar, .feed-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.app-logo, .user-avatar {
    margin: 10px;
}

.post-header {
    border: 2px dotted;    
    display: flex;
    margin: 15px;
}

.name-location {
    margin-top: 5px;
    margin-left: 10px;
}

.feed-post {
    width: 100%;
}



