html, body {
    margin: 0;
    padding: 0;
}

.app-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C6C6C6;
}

.container {
    /* border: 2px dotted; */
    width: 480px;
    margin: 0 auto;
}

.app-logo {
    width: 70px;
    height: 40px;
}

.user-avatar, .feed-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.app-logo, .user-avatar {
    margin: 10px;
}

.name-location {
    margin-top: 5px;
    margin-left: 10px;
}

.post-header, .post-reaction-section {
    /* border: 2px dotted;     */
    display: flex;
    margin: 15px;
}

.feed-post, .post-reaction-btn {
    width: 100%;
}

.post-reaction-btn {
    width: 35px;
    height: 35px;
}

.like-btn, .cmt-btn, .dm-btn {
    margin-right: 20px;
}





